/*
    Single Source of truth for styling
*/

body {
  background-color: pink;
}

h1 {
  color: white;
}

a {
  color: #eeeeee; 
  border: 1px red solid;
  padding: 5px;
  margin: 10px;
}

img {
  /* border-width: 15px;
  border-color: black;
  border-style: dotted; */
  border: 15px red solid;
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.menu-link {
  font-size: 20px;
  color: yellow; 
}

.contact-details {
    color: magenta;
}

.address {
    font-size: 30px;
}

.icon {
  border-width: 5px;
  background-color: magenta;
}